google-genai
duckduckgo-search
fastapi
flask
uvicorn[standard]
pydantic
python-dotenv
requests
langchain
langchain-community
langchain-huggingface
langchain-groq
sentence-transformers
qdrant-client
langchain-qdrant
redis
fakeredis
pandas
flask-cors
